.card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    flex: 1 16%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    max-height: 350px;
    overflow-y: auto;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}